:root {
    --black-color: #333;
    --white-color: white; /* just to keep every color a variable */
    --text-color: #696969;
    --mint-color: #F5FFFA;
    --yellow-color: #f7d84f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: relative;
}

.hero {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255, 0.4)), url(Images/schoolimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    min-height: 80svh;
}

.hero div:first-of-type {
    padding: 4rem 5rem;
}

.hero div:first-of-type h1, .hero div:first-of-type p {
  color: black;
}

.hero div:first-of-type h1 {
    font-size: 4em;
    margin-bottom: 0.25em;
}

.hero div:first-of-type p {
    font-size: 2.5em;
    max-width: 23ch;
}

#learnmore{       /* button */
  border: 1px white solid;
  color: white;
  background: transparent;
  padding: 1em 3.5em;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-top:1em;
  cursor: pointer;
  transition: all 0.5s ease;
}

#learnmore:hover{
  background: var(--black-color);
  border-color: var(--black-color);
  color: white;
}

.bottom-wave-transition {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-wave-transition svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
    transform: rotateY(180deg);
}

.bottom-wave-transition .shape-fill {
    fill: var(--mint-color);
}